<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>更多视频</title>
	<link rel="stylesheet" href="css/index2.css">
	<script>
		function next() {
			$('.item-show').next() && $('.item-show').removeClass('item-show').next().addClass('item-show')
		}
		function prev() {
			$('.item-show').prev() && $('.item-show').removeClass('item-show').prev().addClass('item-show')
		}
	</script>
</head>
<body>
	<div class="header">
		<div class="box">
			<div class="box-left">
				<img src="imgs/menu.png" width="64" height="64">
			</div>
			<div class="box-center">更多视频</div>
			<div class="box-right">
				<img src="imgs/close.png" width="64" height="64">
			</div>
		</div>
	</div>
	<div class="items">
		<div class="item-start"></div>
		<% include data2.html %>
		<div class="item-end">我是有底线的...</div>
	</div>
    <script src="js/jquery.min.js"></script>
    <script src="js/index2.js"></script>
</body>
</html>