* {
	margin: 0;
	padding: 0;
}

body {
	color: #c3c3c3;
	font-size: 48px;
	background-color: #3c3c3c;
	/*background-color: rgba(0, 0, 0, 0.87);*/
}

.header {
	width: 100%;
	position:fixed;
	z-index: 1000;
	color: #fff;
}

.box {
	position: relative;
	left: 0;
	width: 100%;
	height: 64px;
}

.box-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
	display: inline-block;
}

.box-center {
	position: absolute;
	left: 64px;
	right: 64px;
	height: 64px;
	font-size:54px;
	text-align: center;
}

.box-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 64px;
	height: 64px;
}

.items {
}

.item-start {
	width: 100%;
	height: 64px;
}

.item-end {
	width: 100%;
	height: 256px;
	line-height: 256px;
	color: #c3c3c3;
	text-align: center;
}

.item {
	position: relative;
	height: 860px;
}

.item-show .item-warp {
	display: none;
}

.item-body {
	position: absolute;
	width: 100%;
	height: 100%;
}

.item-warp {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(40, 32, 32, 0.85);
}

.title {
	position: relative;
	height: 90px;
	line-height: 90px;
	font-size: 42px;
}

.title .ctime {
	position: absolute;
	width: 80%;
	font-family: cursive;
	padding-left: 10px;
}

.title .share {
	position: absolute;
	right: 0;
	width: 20%;
	text-align: center;
}

.title .share img {
	top: 10px;
}

.main {
	width: 100%;
	height: 630px;
	text-align: center;
	background-color: #000;
}

.main video {
	margin-left: auto;
	object-fit:fill;
}

.doit {
	font-size: 40px;
	text-align: right;
	padding: 12px 0;
	padding-right: 10px;
}

.doit>* {
	display: inline-block;
}

.info {
	padding: 6px;
	color: #fff;
	padding: 0 10px;
}
